* {
  pointer-events: auto !important;
}

.head {
  background-color: black;
  color: white;
  padding: 1rem;
  text-align: center;
}
.profile-head {
  font-size: 1.5rem;
  font-weight: bold;
  text-align: center;
}
button {
  background-color: #4CAF50;
  color: white;
  padding: 0.5rem 1rem;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}